
const TableNameOf{{.BeanName}} = "{{.TableName}}"

type {{ .TableName | ToCamelCaseFistLarge }} struct {
    {{range .Columns}}{{.ColumnName | ToCamelCaseFistLarge}}  {{.StructType}}  {{if .IsPrimary}}`gorm:"primarykey"{{else}}`gorm:"column:{{.ColumnName}}"{{end}} json:"{{.ColumnName}}"`    {{$commentLength := len .Comment }} {{ if gt $commentLength 0 }} // {{ .Comment }} {{end}}
    {{end}}
}